// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;


// BREAKPOINTS
$mobile: 599;
$desktop: $mobile + 1;


// COLORS
// $copy: ;
// $bgcolor: ;
$bggray: hsl(207, 8%, 22%);
$navGray: #363636;
$primary: #ef9d5f;
$navLinesColor: #FFAD6E;
$light-gray: #D5D5D5;
$medium-gray: hsl(210, 3%, 27%);
$lightest-gray: #F7F7F7;
$dark-gray: #363636;
$superheadlineColor: #363636;

$section-pad: 50px;

$grid-spacing: 124px;

$content-side-pad: 20px;

$about-lightyellow: #FFF7F2;