@include breakpoint(0, $mobile) {
    #news {
        padding-top: $section-pad;
        max-width: 425px;

        article {
            background-color: $lightest-gray;
            margin-bottom: 2 * $content-side-pad;
            padding-bottom: $content-side-pad;

            &:last-of-type {
                margin-bottom: $section-pad;
            }

            h3 {
                margin-left: $content-side-pad;
                padding-top: $content-side-pad / 2;
                padding-bottom: $content-side-pad / 2;
            }

            img {
                height: 250px;
                width: 100%;
                object-fit: cover;
            }

            p {
                padding-top: $content-side-pad;
                padding-left: $content-side-pad;
                padding-right: $content-side-pad;
                font-size: 1.2rem;
            }

            a {
                @include button(black);
                margin-left: $content-side-pad;

            }
        }
    }
}

@include breakpoint($mobile + 1) {
    #news {
        padding-top: $desktop-section-pad;
        padding-bottom: $desktop-section-pad;
        // max-width: 33vw;

        .news-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            column-gap: $desktop-content-side-pad;
            // width: calc(100vw - 80px);
            justify-content: space-between;
            
        }

        h2 {
            // font-size: 4.7rem;
            margin-bottom: $content-side-pad;
        }

        .super-headline{
            // font-size: 1.5rem;
        }

        article {
            background-color: $lightest-gray;
            // margin-bottom: $content-side-pad * 2;
            // padding-bottom: $content-side-pad;

            // width: calc(33.3% - $content-side-pad - 5px);
            width: calc(33.3% - $desktop-content-side-pad);

            h3 {
                margin-left: $desktop-content-side-pad;
                padding-top: $desktop-content-side-pad;
                padding-bottom: $desktop-content-side-pad;
                // font-size: 2.2rem;

                text-overflow: ellipsis;

                /* Needed to make it work */
                overflow: hidden;
                white-space: nowrap;
            }

            img {
                height: 275px;
                width: 100%;
                object-fit: cover;
            }

            p {
                padding-top: $desktop-content-side-pad;
                padding-left: $desktop-content-side-pad;
                padding-right: $desktop-content-side-pad;
                font-size: 1.2rem;
            }

            a {
                @include button(black, transparent, true);
                margin-left: $desktop-content-side-pad;
                // font-size: 1.4rem;
                margin-bottom: $desktop-content-side-pad;
            }
        }
    }
}